.btn {
  background-color: #ffffff;
  color: rebeccapurple;
  font-family: inherit;
  font-weight: bold;
  padding: 14rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
  
.btn:focus {
  outline: none;
}
    
.btn:active {
  transform: scale(0.98);
}